[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FDboost"]
	path = FDboost
	url = https://github.com/boost-r/fdboost
[submodule "gamboostLSS"]
	path = gamboostLSS
	url = https://github.com/boost-r/gamboostlss
[submodule "mboost"]
	path = mboost
	url = https://github.com/boost-r/mboost
