[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "FDboost"]
	path = FDboost
	url = https://github.com/boost-r/fdboost
	shallow = true
	registered = true
[submodule "gamboostLSS"]
	path = gamboostLSS
	url = https://github.com/boost-r/gamboostlss
	shallow = true
	registered = true
[submodule "mboost"]
	path = mboost
	url = https://github.com/boost-r/mboost
	shallow = true
	registered = true
